* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

html {
    font-family: "Roboto";
    width: 100%;
    height: 100%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    align-items: left;
}

.menu {
    display: flex;
    align-items: center;
    min-height: 60px;
    background-color: #1F2937;
    justify-content: space-between;
    padding-right: 20%;
    padding-left: 20%;
    
}

.menu ul {
    display: flex;
    font-size: 20px;
    color: #E5E7Eb;
    justify-content: right;
}

.menu li {
    margin: 1em 0 1em 1em;
}

li {
    flex-shrink: 0;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding-top: 9%;
    padding-bottom: 9%;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
    justify-content: space-between;
}

.hero h2 {
    font-size: 48px;
    font-weight: 900;
}

.hero > p {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 25px;
    border-radius: 5px;
    max-width: 8em;
    align-items: center;
    margin-top: 0.5em;
}

.hero img {
    width: 400px;
    height: 200px;
    background-color: lightgrey;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 0;
    min-width: 400px;
    min-height: 200px;
}

.random h2 {
    text-align: center;
    margin: 1.5em 0em;
    font-size: 36px;
    color: #1F2937
}

.random {
    margin-top: 1.5em;
    margin-bottom: 6em
}

.random ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.random img {
    border: 4px solid #3882F6;
    border-radius: 0.7em;
    width: 150px;
    height: 150px;
    background-color: whitesmoke;

}

.random li {
    display: flex;
    flex-direction: column;
}
.random p {
    flex-wrap: wrap;
    max-width: 150px;
    color: rgb(104, 104, 104);
    text-align: center;
}

.quote, .attribute {
    background-color: #E5E7Eb;
    color: #1f2937;
    padding-left: 20%;
    padding-right:20%;
}

.quote {
    font-weight: 300;
    padding-top: 3em;
    font-size: 2em;
    font-style: italic;
    text-align: left;
}

.attribute {
    padding-bottom: 3em;
    text-align: right;
    font-weight: bold;
    font-size: 1.4em;
}

.whitespace {
    min-height: 20em;
    display: flex;
    justify-content: center;
}

.blue-box {
    display: flex;
    background-color: #3882F6;
    color:#F9FAF8;
  /*  margin-right: 10%;
    margin-left: 10%; */
    margin-top: 5em;
    margin-bottom: 5em;
    min-height: 0rem;
    min-width: 80%;
    justify-content: space-between;
    border-radius: 0.55em;
}

.message {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    font-size: 18px;
    justify-content: center;
    margin-left: 10%;
}

.call-to-action {
    font-size: 36px;
}

.hint {
    font-weight: 400;
}

.sign-up-btn {
    display: flex;
    justify-content: center;
    min-width: 150px;
}

.sign-up-btn button {
    align-self: center;
    border: #F9FAF8 solid 2px;
    height: 3em;
    font-weight: 900;
    margin-right: 10%;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.footer a:visited {
    color: #F9FAF8;
}